@import "~@/styles/vars";

.CurrencySelector {
  @bottomColor: #0075FA;
  position: relative;
  width: @App_width;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(to bottom, #0057DC, @bottomColor);

  & + & {
    background: linear-gradient(to bottom, #005AC7, #004EB9);
  }

  &:first-child:after {
    @size: 10px;
    content: '';
    width: 0;
    height: 0;
    border-color: transparent @bottomColor @bottomColor transparent;
    border-style: solid;
    border-width: @size;
    transform: rotate(45deg);
    position: absolute;
    bottom: -@size;
    left: calc(50% ~" - " @size);
    z-index: 2;
  }
}

.CurrencySelector_list {
  position: relative;
  display: flex;
  width: 3 * @App_width; // TODO: use currency quantity instead of magic number “3”
  margin-bottom: 0;
  padding-left: 0;
  transition: transform @screen_toggle_time;
}

.CurrencySelector_indicator {
  background-color: forestgreen;
}
