@import "~@/styles/mixins";
@import "~@/styles/vars";

.MoneyInput {
  .font_big();
  text-align: right;

  &:before {
    .font_big();
  }

  &-from:before {
    content: '−';
  }

  &-to:before {
    content: '+';
  }
}

.MoneyInput_field ,
.MoneyInput_input {
  .font_big();
  background-color: transparent;
  display: inline-block;
  border: 0 none;
  padding: 0;
}

.MoneyInput_input {
  width: 1px;
}
