@import "~@/styles/mixins";
@import "~@/styles/vars";

.MoneyInput {
  .font_big();

  &:before {
    .font_big();
  }

  &-from:before {
    content: '−';
  }

  &-to:before {
    content: '+';
  }
}

.MoneyInput_field {
  .font_big();
  display: inline-block;
  border: 0 none;
  padding: 0;
  width: 8rem;
}
