@import "~@/styles/mixins";

// Tricks to not place .CurrencyChanger over MoneyInput to not block it
@gap: 100%;

.CurrencyChanger {
  position: absolute;
  top: 0;
  left: @gap;
  width: 100%;
  height: 100%;
}

.CurrencyChanger_btn {
  .bdrs();
  @width: 2rem;
  position: absolute;
  height: 100%;
  width: @width;
  left: -@gap;
  border: 1px solid transparent;
  background-color: transparent;
  color: #fff;
  opacity: 0;
  transition: opacity .5s;

  &:focus,
  &:active,
  &:hover {
    border-color: white;
    opacity: 1;
  }

  &-prev {
    left: -@gap;
  }

  &-next {
    left: auto;
    right: @gap;
  }
}
