@import "~@/styles/vars";

.PageMarker {
  color: grey;
  width: 1rem;
  transition: color @screen_toggle_time;
  text-align: center;
  background-color: forestgreen;

  &-active {
    color: white;
  }
}
