@import "~@/styles/mixins";
@import "~@/styles/vars";

.CurrencyScreen {
  list-style-type: none;
  height: @ExchangeBlock_height;
  width: @App_width;
  padding: 2rem;
  box-sizing: border-box;
}

.CurrencyScreen_row {
  display: flex;
  justify-content: space-between;

  & > * {
    width: 50%;
  }
}

.CurrencyScreen_currency {
  .font_big();
}
